<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css"/>
    <title>{% block title %}Дневник{% endblock %}</title>
</head>
<body>
<header class="container-fluid">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="/"><img src="/../favicon.ico" alt="Logo" style="width:40px;"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://wenitalist.sshkpp.ru/">Главная</a>
            </li>
            {% if session.type == "admin" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрирование</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://wenitalist.sshkpp.ru/students/">Студенты</a>
                        <a class="dropdown-item" href="http://wenitalist.sshkpp.ru/teachers/">Преподаватели</a>
                        <a class="dropdown-item" href="http://wenitalist.sshkpp.ru/parents/">Родители</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav" style="position: absolute; right: 0">
            {% if session.login != null %}
                <li><a class="nav-link">Вы вошли как: {{ session.login }}</a></li>
                <li><a class="nav-link" href="/exit/">Выход</a></li>
            {% else %}
                <a class="nav-link" href="http://wenitalist.sshkpp.ru/authorization/">Авторизоваться</a>
            {% endif %}
        </ul>
    </nav>
</header>
<main class="container-fluid">
    {% block table %}

    {% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Подвальчик с компотами и помидорами</span>
    </div>
</footer>
</body>
</html>