{% extends "index.twig" %}

{% block title %}Таблица родителей{% endblock %}
{% block table %}
    <div class="container" style="background-color: #e9e8e8; border: 2px solid #9f9f9f;">
        <h3>Таблица родителей</h3>
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Тип</th>
                <th>Активация</th>
            </tr>
            </thead>
            <tbody>
            {% for row in parents %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.login }}</th>
                    <th>{{ row.type }}</th>
                    <th>{{ row.active }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
