{% extends "index.twig" %}

{% block title %}Таблица преподавателей{% endblock %}
{% block table %}
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Тип</th>
            </tr>
            {% for row in teachers %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.login }}</th>
                    <th>{{ row.type }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}