{% extends "index.twig" %}

{% block title %}Таблица студентов{% endblock %}
{% block table %}
    <div class="container" style="background-color: #e9e8e8; border: 2px solid #9f9f9f;">
        <h3>Таблица студентов</h3>
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Тип</th>
                <th>Активация</th>
            </tr>
            </thead>
            <tbody>
            {% for row in students %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.fio }}</th>
                    {% if row.type == "student" %}
                        <th>Студент</th>
                    {% endif %}
                    {% if row.active == "yes" %}
                        <th>Активирован</th>
                    {% else %}
                        <th>Не активирован</th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}