.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #c8c8c8;
}

header {
    background-color: #c8c8c8;
    padding-right: 0;
    padding-left: 0;
}

main > .container {
    padding-top: 15px;
}